:root {
  --base-black1: #333333;
  --base-black2: #666666;
  --base-black3: #666666;
  --base-yellow1: #f7d84c;
  --base-yellow2: #f7d84c;
  --base-yellow3: #fcf4ad;
  --base-yellow4: #ddc53b;
  --base-yellow5: #c2ae3c;
  --base-yellow6: #b8a84e;
  --base-white1: #fffffb;
  --base-white2: #e0e0e0;
  --base-white3: #e2e2e2;

  --white1: var(--base-white1);
  --white2: var(--base-white2);
  --white3: var(--base-white3);
  --yellow1: var(--base-yellow1);
  --yellow2: var(--base-yellow2);
  --yellow3: var(--base-yellow3);
  --black1: var(--base-black1);
  --black2: var(--base-black2);
  --black3: var(--base-black3);
}


body {
  color: var(--black1);
  background-color: var(--white1);  
}

a, a:visited {
  color: inherit;
}

/** Header **/

.header-float {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white1);
  align-items: center;
  z-index: 100;
}

/* LOGO */

.header-float .logo {
  height: 100%;
  margin-left: 20px;
  float: left;
  display: flex;
  align-items: center;
}

/* Navigation */

.header-float nav {
  height: 100%;
  float: left;
}

.header-float nav ul {
  display: flex;
  padding-left: 20px;
}

.header-float nav ul li {
  list-style: none;
  margin-left: 10px;
}

/* Dark Mode Toggle */

.toggle {
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.toggle p {
  margin-left: 10px;
  margin-right: 10px;
}


/** Content **/

.main-content {
  width: 60%;
  margin: auto;
  margin-top: 80px;
}

/*** Dark Theme ***/

@media (prefers-color-scheme: dark) {
  :root {
  --white1: var(--base-black1);
  --white2: var(--base-black2);
  --white3: var(--base-black3);
  --yellow1: var(--base-yellow4);
  --yellow2: var(--base-yellow5);
  --yellow3: var(--base-yellow6);
  --black1: var(--base-white1);
  --black2: var(--base-white2);
  --black3: var(--base-white3);
}

}


/*** Responsive ***/
@media screen and (max-width: 480px) {
/** Header **/
.toggle {
  margin-right: 20px;
}

.toggle p {
  margin-left: 20px;
}

/** Content **/
.main-content {
  width: 80%;
}
}
