---
import BaseLayout from '@/layouts/BaseLayout.astro';

const pageTitle = 'About'
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Hello. I'm an Astronaut.</h1>
  <h2>My Profile</h2>
  <p>I'm Moon.</p>
</BaseLayout>
