---
import Navigation from '@/components/Navigation.astro';
import DarkModeToggle from '@/components/DarkModeToggle.astro';
---
<header>
  <div class="header-float">
    <div class="logo"><a href="/">My Blog</a></div>
    <nav>
      <Navigation />
    </nav>
    <DarkModeToggle />
  </div>
</header>
